<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <img src="/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype">
      </a>
    </div>
  </div>
</header>

<section aria-label="Service information" class="govuk-service-navigation @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "govuk-service-navigation--inverse" : "")" data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <span class="govuk-service-navigation__service-name">
        <a href="/" class="govuk-service-navigation__link">
          Service Manual
        </a>
      </span>
    </div>
  </div>
</section>

