@model (string Heading, List<(string Title, string Url, string? Description)> Links)

<aside class="related-content govuk-!-padding-4" role="complementary">
    <h2 class="govuk-heading-s">@Model.Heading</h2>
    <nav aria-label="Related content">
        <ul class="govuk-list govuk-!-font-size-16">
            @foreach (var link in Model.Links)
            {
                <li class="related-content-item">
                    <a href="@link.Url" class="govuk-link">@link.Title</a>
                    @if (!string.IsNullOrEmpty(link.Description))
                    {
                        <p class="govuk-body-xs govuk-!-margin-top-1 govuk-!-margin-bottom-2">@link.Description</p>
                    }
                </li>
            }
        </ul>
    </nav>
</aside>

