@{
    ViewData["Title"] = "Roadmap - Later";
    Layout = "_ContentPage";
}

@section Breadcrumbs {
    <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/roadmap">Roadmap</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Later</li>
}

@section PageHeader {
    <h1 id="page-heading" class="govuk-heading-xl">Roadmap</h1>

    <p class="govuk-body-l">
        Our plan for developing and improving the Service Manual. We're working to make it easier for teams to find and use standards, guidance, and best practices.
    </p>
}

<div id="page-content"></div>

<h2 class="govuk-heading-l">Later</h2>

<div class="roadmap-feature">
    <h2 class="govuk-heading-m">Migrating all the other manuals by priority</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Timescale</dt>
            <dd class="govuk-summary-list__value">2025 onwards</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Description</dt>
            <dd class="govuk-summary-list__value">Migrating all the other manuals into the Service Manual, prioritised by user need and impact.</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Status</dt>
            <dd class="govuk-summary-list__value">
                <strong class="govuk-tag">Planned</strong>
            </dd>
        </div>
    </dl>
</div>

@section Contents {
    @{
        var activeSection = ViewData["ActiveSection"]?.ToString() ?? "later";
    }
    <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
        <span class="dfe-contents-list__list-item-dash" aria-hidden="true"></span>
        <a class="dfe-contents-list__link govuk-link" href="/roadmap/now">Now</a>
    </li>
    <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
        <span class="dfe-contents-list__list-item-dash" aria-hidden="true"></span>
        <a class="dfe-contents-list__link govuk-link" href="/roadmap/next">Next</a>
    </li>
    <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed @(activeSection == "later" ? "dfe-contents-list__list-item--active" : "")">
        <span class="dfe-contents-list__list-item-dash" aria-hidden="true"></span>
        <span aria-current="page">Later</span>
    </li>
}

@section Sidebar {
    <div class="dfe-contextual-sidebar govuk-!-display-none-print">
        <div class="dfe-related-navigation govuk-!-display-none-print">
            <h2 id="related-nav-related_items" class="dfe-related-navigation__main-heading">Related content</h2>
            <nav class="dfe-related-navigation__nav-section" aria-labelledby="related-nav-related_items">
                <ul class="dfe-related-navigation__link-list">
                    <li class="dfe-related-navigation__link">
                        <a class="govuk-link dfe-related-navigation__section-link dfe-related-navigation__section-link--sidebar" href="/roadmap">Roadmap overview</a>
                    </li>
                    <li class="dfe-related-navigation__link">
                        <a class="govuk-link dfe-related-navigation__section-link dfe-related-navigation__section-link--sidebar" href="/about">About this product</a>
                    </li>
                    <li class="dfe-related-navigation__link">
                        <a class="govuk-link dfe-related-navigation__section-link dfe-related-navigation__section-link--sidebar" href="/">Service Manual homepage</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
}

@section Share {
    @await Html.PartialAsync("_ShareSidebar")
}

