@{
    ViewData["Title"] = "Home";
}

@section Masthead {
<div class="homepage-hero">
    <div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Service Manual
            </h1>
            <p class="govuk-body-l">
                Standards and guidance to help you design, build, and run consistent, accessible, user-centred digital services in the Department for Education.
            </p>
          
           
        </div>
    </div>
</div>
</div>

}


    <div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="dfe-cta-section">
                <h2 class="dfe-cta-section__heading">We're consolidating all our manuals and guidance</h2>
                <p class="dfe-cta-section__text">
                    We're working on consolidating all our existing manuals and guidance into one single resource for all digital, data, and tech delivery in DfE. Find out about this work and how to get involved.
                </p>
                <a href="/about" class="govuk-button dfe-cta-section__button">Find out more <span class="govuk-visually-hidden">about the Service Manual project</span></a>
            </div>
        </div>
    </div>
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l govuk-!-margin-bottom-6">Manuals and guidance</h2>
            </div>
        </div>
        
        <ul class="dfe-chevron-card__list">
            <li class="dfe-chevron-card">
                <a href="https://accessibility.education.gov.uk/" class="dfe-chevron-card__link" target="_blank" rel="noopener noreferrer">
                    <div class="dfe-chevron-card__wrapper">
                        <h3 class="govuk-heading-s">Accessibility and Inclusive Design Manual</h3>
                        <p class="dfe-chevron-card__description">
                            Standards and guidance for designing and building accessible and inclusive products and services.
                        </p>
                    </div>
                </a>
            </li>
            
            <li class="dfe-chevron-card">
                <a href="https://apply-the-service-standard.education.gov.uk/" class="dfe-chevron-card__link" target="_blank" rel="noopener noreferrer">
                    <div class="dfe-chevron-card__wrapper">
                        <h3 class="govuk-heading-s">Apply the Service Standard</h3>
                        <p class="dfe-chevron-card__description">
                            Guidance for applying the Government Service Standard to design and build accessible, usable services in DfE.
                        </p>
                    </div>
                </a>
            </li>
            
            <li class="dfe-chevron-card">
                <a href="https://dfe-digital.github.io/architecture/#dfe-architecture" class="dfe-chevron-card__link" target="_blank" rel="noopener noreferrer">
                    <div class="dfe-chevron-card__wrapper">
                        <h3 class="govuk-heading-s">Architecture</h3>
                        <p class="dfe-chevron-card__description">
                            Architecture principles, standards and guidance for designing services within DfE.
                        </p>
                    </div>
                </a>
            </li>
            
            
            
            <li class="dfe-chevron-card">
                <a href="https://design-histories.education.gov.uk/" class="dfe-chevron-card__link" target="_blank" rel="noopener noreferrer">
                    <div class="dfe-chevron-card__wrapper">
                        <h3 class="govuk-heading-s">Design Histories</h3>
                        <p class="dfe-chevron-card__description">
                            Find out how our services change over time with design histories documenting our design decisions.
                        </p>
                    </div>
                </a>
            </li>
            
            <li class="dfe-chevron-card">
                <a href="https://design.education.gov.uk/" class="dfe-chevron-card__link" target="_blank" rel="noopener noreferrer">
                    <div class="dfe-chevron-card__wrapper">
                        <h3 class="govuk-heading-s">Design Manual</h3>
                        <p class="dfe-chevron-card__description">
                            Standards and guidance to help you design consistent, accessible, user-centred products and services in DfE.
                        </p>
                    </div>
                </a>
            </li>
            
            <li class="dfe-chevron-card">
                <a href="https://job-descriptions.education.gov.uk/" class="dfe-chevron-card__link" target="_blank" rel="noopener noreferrer">
                    <div class="dfe-chevron-card__wrapper">
                        <h3 class="govuk-heading-s">Find a Job Description</h3>
                        <p class="dfe-chevron-card__description">
                            Find and use job descriptions for Digital, Data, and Technology professions in DfE.
                        </p>
                    </div>
                </a>
            </li>
            
            <li class="dfe-chevron-card">
                <a href="https://standards.education.gov.uk/" class="dfe-chevron-card__link" target="_blank" rel="noopener noreferrer">
                    <div class="dfe-chevron-card__wrapper">
                        <h3 class="govuk-heading-s">Find and Use Standards</h3>
                        <p class="dfe-chevron-card__description">
                            Digital, data and technology standards to support good service delivery in DfE.
                        </p>
                    </div>
                </a>
            </li>

            <li class="dfe-chevron-card">
                <a href="https://technical-guidance.education.gov.uk/" class="dfe-chevron-card__link" target="_blank" rel="noopener noreferrer">
                    <div class="dfe-chevron-card__wrapper">
                        <h3 class="govuk-heading-s">Technical Guidance</h3>
                        <p class="dfe-chevron-card__description">
                            Technical standards and guidance for building digital services, with tools and patterns for code reuse and consistency.
                        </p>
                    </div>
                </a>
            </li>
            
            <li class="dfe-chevron-card">
                <a href="https://user-research.education.gov.uk/" class="dfe-chevron-card__link" target="_blank" rel="noopener noreferrer">
                    <div class="dfe-chevron-card__wrapper">
                        <h3 class="govuk-heading-s">User Research Manual</h3>
                        <p class="dfe-chevron-card__description">
                            Standards, principles, guidance and support for user researchers working in DfE.
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>


