@{
    ViewData["Title"] = "Create and publish a standard";
}

@section Breadcrumbs {
    <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="@Url.Action("Index", "Standards")">Standards</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Create and publish a standard</li>
}

@section Masthead {
    <div class="content-page-hero">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Create and publish a standard</h1>
                    <p class="govuk-body-l">
                        Guidance for creating and publishing standards in DfE.
                    </p>
                </div>
            </div>
        </div>
    </div>
}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">
                Content coming soon.
            </p>
        </div>
    </div>
</div>

